main {
    max-width: 840px
}

<aside {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0/20%);
    background-color: rgb(223, 225, 230);
    font-size: .8rem;
}

nav {
    background-color: rgb(2, 0, 139);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    padding: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

